<style>
    .dr-div {
        background-color: #34A651;
        color: #FEFDFE;
    }
    .btn-holder .md-button {
        min-width: 200px;
        margin: 30px;
        width: 50%:
        max-width: 600px;
    }
</style>
    <header>
        <acme-navbar></acme-navbar>
    </header>
    <md-content class="dr-div" layout="column" flex layout-fill layout-align="center center">
        <div flex="50">
            <h1 class="md-display-2">Do you want to upload or retrieve data?</h1>
        </div>
        <div flex="50" layout="row" flex class="btn-holder">
            <md-button class="md-raised" ng-click="go('/dr-upload');">Upload data</md-button>
            <md-button class="md-raised" ng-click="go('/dr-viewdata');">Retrieve data</md-button>
        </div>
  </md-content>
