<style>
    #toolbar {
        background: #EDEDED;
        color: #D7D7D7;
        width: 100%;
    }
    #toolbar * {
        color: #67686A;
    }
</style>

<md-toolbar layout="row" layout-align="center center" id="toolbar">

  <section flex layout="row" layout-align="center end">
    <md-button href="#" class="flat">Home</md-button>
    <md-button href="#" class="flat">Login</md-button>
    <md-button href="#" class="flat">About</md-button>
    <md-button href="#" class="flat">Contact us</md-button>
  </section>

</md-toolbar>
