<style>
    .dr-div {
        background-color: #34A651;
        color: #FEFDFE;
    }
    .btn-holder .md-button {
        width: 200px;
        margin: 30px;
    }
</style>




  <header>
    <acme-navbar></acme-navbar>
  </header>

  <md-content flex layout="column" class="dr-div" layout-align="center center">
        <h1 class="md-display-2">Upload patient data</h1>
        <div layout="row" layout-fill layout-padding style="max-width:800px;">
            <div flex="50">
              <md-input-container>
                  <label>Name</label>
                  <input>
              </md-input-container>
              <md-input-container>
                  <label>Gender</label>
                  <input>
              </md-input-container>
              <md-input-container>
                  <label>Ethnicity</label>
                  <input>
              </md-input-container>
              <md-input-container>
                  <label>Cancer type</label>
                  <input>
              </md-input-container>
            </div>
            <div flex="50">
              <md-input-container>
                  <label>Expectancy</label>
                  <input>
              </md-input-container>
              <md-input-container>
                  <label>Treatment</label>
                  <input>
              </md-input-container>
              <md-input-container>
                 <md-select placeholder="Type of Cancer" ng-model="patient.cancerType">
                   <md-option ng-repeat="cancer in cancer_types" value="{{cancer}}">
                     {{cancer}}
                   </md-option>
                 </md-select>
               </md-input-container>
               <md-button class="md-raised md-primary" ng-click="showAlert($event)">Upload data</md-button>
               <md-button class="md-raised md-primary" ng-click="showAlert($event)">Add Treatment plan</md-button>
               <div flex layout="row" layout-align="end center">
                 <md-button class="md-raised" ng-click="go('/dr-viewdata/')">Submit</md-button>
               </div>
            </div>
          </div>
  </md-content>
