<style>
    .asdf {
        background-color: #34A651;
        color: #FEFDFE;
    }
    #list {
        width: 50%;
    }
    .patient-button {
        text-transform: none;
    }

    .avatar {
        border-radius: 50px;
    }

</style>
<header>
    <acme-navbar></acme-navbar>
</header>
<md-content class="asdf" layout="column" flex layout-fill layout-align="start center">
    <h1>Available patients</h1>
    <md-list id="list">
        <md-list-item ng-repeat="patient in patients" flex>
            <img class="avatar md-avatar" src="/assets/images/{{patient.female ? 'female' : 'male'}}-icon.jpg" style="opacity: 0.7">
            <span flex="10">{{patient.name}}</span>
            <span flex>{{patient.cancer}}</span>
            <md-button class="md-raised patient-button" ng-click="go('/dr-viewdata')">Display data</md-button>
        </md-list-item>
    </md-list>
    </md-content>
</md-content>
